<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Display-OCR</title>
  <!--
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.Jcrop.min.js') }}"></script>
  -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='cropper.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='cropper.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='camera.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='axios.js') }}"></script>


</head>
<body>
<img src="">
<pre>chrome://flags/#unsafely-treat-insecure-origin-as-secure para http://0.0.0.0:5000</pre>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</html>